<h1>ABOUT Section</h1>
<h2> My Journey</h2>
<ul>
    <li>
        <span>I started as a fellow Tech Enthusiast</span>
    </li>
    <li>
        <span>I was entrigued by the world of content and fell in love with the process</span>
    </li>
    <li>
        <span>I even have a youtube channel by name<b>Chirag Dahiya</b>. Where I posted a podcast video. Things have slowed down at that end but I have great plans for my youtube channel talking about interesting topics like AI, Business. So keep your eyes peeled</span>
    </li>
</ul>